.signup-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 100px;
  border: 2px solid #ddd;
  border-radius: 1rem;
  /* background-color: red; */
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  /* display: flex; */
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  color: #fff;
  background-color: #495057;
  border: 2px solid #61dafbaa;
  border-radius: 1rem;
}

.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
  color: #dc3545;
}

button {
  transition: background-color 0.3s ease, border-color 0.3s ease;
  padding: 10px 30px;
  width: 100%;
  margin-top: 10px;
  border-radius: 15px;
  border: 2px solid #61dafbaa;
  cursor: pointer;
  margin: 10px auto;
  font-size: 14px;
  font-weight: 500;
}

button:hover {
  background-color: #47a1ed; /* Slightly darker background on hover */
  border-color: #61dafbaa;
}

button {
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
}
